body{
    background-color: rgb(108, 108, 218);
    font: normal 16px arial;
}

header{
    color: white;
    text-align: center;
}

section{
    background: white;
    padding: 15px;
    margin: auto;
    width: 400px;
    border-radius: 6px;
    box-shadow: 5px 5px 10px rgba(26, 24, 24, 0.678);
    text-align: center;
}

div{
    text-align: center;
    margin-top: 10px;
}

footer{
    font-style: italic;
    text-align: center;
    color: white;
}